.ccls-cache
tags

dwm/.local/src/dwm-6.3/dwm.o
dwm/.local/src/dwm-6.3/dwm
dwm/.local/src/dmenu/dmenu
zsh/.cache/zsh/history
zsh/.config/zsh/.zcompdump
nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/.luarc.json
redshift/.config/redshift
htop/.config/htop/htoprc
